@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(178, 175, 175);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(149, 148, 148);
  border-radius: 10px;
}

.hero1 {
  background-size: cover;
  position: relative;
}

.hero1::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url("/bibit-palm.webp");
  background-size: cover;
  filter: grayscale(30%) blur(3px) contrast(90%) ;

}

.hero3 {
  background-image: url("/bg-texture1.svg");
  /* background-size: cover; */
  
}